@import "tailwindcss";

.container{
    @apply max-w-[1320px] mx-auto
}

@theme {
  --font-inter: "Inter", sans-serif;
  --shadow-one: 0px 0px 10px 2px rgba(0, 0, 0, 0.25); 
}

@layer{
  .slick-dots li button {
        width: 24px!important;
        height: 24px!important;
        background-color: #4756DF!important;
        border-radius: 50%;
        position: relative;
    }
    .slick-dots li button:before {
        color: transparent!important;
    }
    .slick-dots li.slick-active button{
      background-color: #FFFFFF!important;
    }
    .slick-dots li.slick-active button::before{
       width: 16px!important;
       height: 16px!important;
       background-color: #4756DF!important;
       top: 50%!important;
       left: 50%!important;
       transform: translate(-50%,-50%)!important;
       border-radius: 50%;
    }
    .slick-dots {
       bottom: -120px!important;
    }
    .slick-center .item{
      background-color: #F4EFEF;
    }
}